<script type="text/javascript">

  document.querySelector('.close').addEventListener("click", function() {
  	document.querySelector('.container').style.display = "none";
    document.querySelector('main').style.opacity="1";
  });
  document.querySelector('.learn').addEventListener("click", function() {
  	document.querySelector('.container').style.display = "flex";
  	document.querySelector('main').style.opacity="0.2";
  });
</script>
</body>
<footer>
  @My App 2021.
</footer>
</html>
