<%- include("header")  -%>
<div class="box" id="heading">
  <h1 style="color:white">Welcome to my website!</h1>
</div>
<div class="box">
  <img src="<%=title%>" alt="Hi">
</div>

<%- include("footer")  -%>
